@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,100;1,400&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  background: #1B1B1E;

}

/* :root {
    --color-red: #f42;
    --bg-color-red: #f42;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/*
  a:hover {
    color: #333;
  } */



/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
  */



// header {
//     position: relative;
//     width: 664px;
//     height: 549px;
//     // left: 447px;
//     // top: 210px;
//     // margin-top: 210px;
//     margin: 210px auto 0 auto;
//     .page {
//         .num {
//           position: absolute;
//           width: 82px;
//           height: 150px;
//           left: 0;
//           top: 0;

//           font-family: 'Poppins', sans-serif;
//           font-style: normal;
//           font-weight: 200;
//           font-size: 100px;
//           line-height: 150px;

//           /* identical to box height */
//           text-align: right;

//           color: #FFFFFF;

//           opacity: 0.2;
//         }
//     }
//     .header-text {
//         position:absolute;
//         left: 100px;
//         top: 100px;
//         color: #ffffff;

//         h1 {
//             font-family: Playfair Display;
//             font-style: normal;
//             font-weight: normal;
//             font-size: 110px;
//             line-height: 100%; 
//             margin: 0;
//         }
//         p {
//             position: relative;
//             font-size: 16px;
//             line-height: 24px;
//             margin: 0;
//             .far {
//                 position: absolute;
//                 bottom: 0;
//                 right: 30px;
//             }
//         }
//     }
//     .elipse {
//         position: absolute;
//         width: 94px;
//         height: 94px;
//         border-radius: 50%;
//         background: #DB4747;
//         right: 0;
//         top: 70px;
//     }
//     ul {
//         justify-content: flex-start;
//         padding: 0;

//         li {
//             margin-right: 40px;
//         }

//         a {
//             color: #DB4747;
//             font-family: Roboto;
//             font-style: normal;
//             font-weight: 500;
//             font-size: 18px;
//             line-height: 21px;
//         }
//         i {
//             color: #ffffff;

//         }
//     }


// }


nav {
  .nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;

    .num {
      color: #49494B;

    }
  }
}

header {
  .num {
    position: absolute;
    width: 41px;
    height: 75px;
    left: 16px;
    top: 33px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 75px;

    /* identical to box height */
    text-align: right;

    color: #FFFFFF;

    opacity: 0.2;
  }

  .elipse {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 255px;
    top: 76px;

    background: #DB4747;
    mix-blend-mode: lighten;
  }

  .header-text {
    .hello {
      position: absolute;
      width: 289px;
      height: 18px;
      left: 16px;
      top: 95px;

      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;

      /* identical to box height */

      color: #FFFFFF;
    }

    h1 {
      position: absolute;
      width: 288px;
      height: 100px;
      left: 16px;
      top: 113px;


      font-family: Playfair Display;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: left;

      /* or 50px */

      color: #FFFFFF;
    }

    .text {
      position: absolute;
      width: 288px;
      height: 90px;
      left: 16px;
      top: 243px;

      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;

      color: #FFFFFF;
    }

    .see-works a {
      position: absolute;
      width: 113px;
      height: 21px;
      left: 16px;
      top: 386px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      /* identical to box height */

      color: #DB4747;
    }

    .hr-7 {
      position: absolute;
      width: 70px;
      height: 0px;
      left: 16px;
      top: 427px;

      border: 1px solid #FFFFFF;
    }

    ul {
      position: absolute;
      width: 289px;
      height: 24px;
      left: 16px;
      top: 447px;

    }

    ;
  }
}

.portfolio {
  padding:0;
  .num {
    position: absolute;
    width: 58px;
    height: 75px;
    left: 16px;
    top: 551px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 75px;

    /* identical to box height */

    color: #FFFFFF;

    opacity: 0.2;
  }

  .recent {
    position: absolute;
    width: 288px;
    height: 18px;
    left: 16px;
    top: 613px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    /* identical to box height */

    color: #FFFFFF;
  }

  h2 {
    position: absolute;
    width: 288px;
    height: 50px;
    left: 16px;
    top: 631px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;

    /* identical to box height, or 50px */

    color: #FFFFFF;
  }

  .project {
    position: relative;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 701px;

    background: url(image.png), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 48.44%, #000000 100%), url(image.png);
    border: 0.333333px solid rgba(255, 255, 255, 0.1);

    ul {
      margin: 0;
      padding: 0;

      li {
        width: 87px;
        height: 20px;
        background: rgba(0, 0, 0, 0.5);

        a {
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 10.3334px;
          line-height: 80%;

          /* or 8px */

          color: #FFFFFF;
        }
      }
    }

    .button {
      position: absolute;
      width: 178px;
      height: 44px;
      bottom: 10px;
      left: 20px;

      /* Red */
      background: #DB4747;

      a {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        /* identical to box height */
        text-align: center;

        color: #FFFFFF;
      }
    }
  }
}