@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@100;500;900&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0 auto;
  background: #1B1B1E;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: Playfair Display;
  font-size: 50px;
  line-height: 100%;
  color: #FFFFFF;
}

.num {
  font-family: Poppins;
  font-size: 50px;
  line-height: 75px;
  font-weight: lighter;
  /* identical to box height */

  color: #FFFFFF;

  opacity: 0.2;
}

.text {

  font-family: Poppins;
  font-size: 12px;
  line-height: 18px;

  color: #FFFFFF;
}

a:hover {
  color: #DB4747;
}

header,
section,
footer {
  padding: 0 30px;
}

.close-details {
  width: 40px;
  height: 40px;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
  */

nav {
  .nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
  }

  .num-c {
    color: #49494B;
  }
}

header {
  position: relative;

  .elipse {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 255px;
    top: 76px;

    background: #DB4747;
    mix-blend-mode: lighten;
  }

  .header-text {
    h1 {
      width: 300px;
      font-family: Playfair Display;
      font-size: 50px;
      line-height: 50px;
      text-align: left;
      color: #FFFFFF;
    }

    .see-works a {
      font-family: Roboto;
      font-size: 18px;
      line-height: 21px;
      color: #DB4747;
    }

    .hr-7 {
      width: 70px;
      height: 0;
      margin-top: 10px;
      border: 1px solid #FFFFFF;
    }

    ul {
      margin-top: 20px;
    }

    i {
      font-size: 1.5rem;
    }
  }
}

.portfolio {
  position: relative;

  .projects-container {
    justify-content: center;
    width: 100%;
  }
  .project {
    .project-details {
      display: none;
    }

    .project-preview {
      min-height: 186px;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 48.44%, #000000 100%), url("imgs/Screenshot-CakeFactory.png");
      background-size: cover;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        width: 87px;
        height: 20px;
        background: rgba(0, 0, 0, 0.5);

        a {
          font-family: Poppins;
          font-weight: 300;
          font-size: 10.3334px;
          line-height: 80%;
          color: #FFFFFF;
        }
      }
    }

    .project-preview {
      position: relative;
      height: 100%;
      .button {
        position: absolute;
        width: 178px;
        height: 44px;
        bottom: 10px;
        left: 20px;

        /* Red */
        background: #DB4747;

        a {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;

          /* identical to box height */
          text-align: center;

          color: #FFFFFF;
        }
      }

    }
  }
}


.about-me {

  .about-me-content {
    margin-bottom: 50px;
  }


  .colaboration {
    width: 288px;
    height: 44px;
    margin: 0 auto;
    /* Red */
    background: #DB4747;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    a {
      font-family: Poppins;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;

      /* identical to box height */
      text-align: center;

      color: #FFFFFF;
    }

  }

  .about-box {
    width: 238px;
    height: 238px;
    margin: 10px auto;

    background: #212123;
    box-shadow: 0px 1.91837px 23.0204px rgba(0, 0, 0, 0.25);
    border-radius: 3.83673px;

    .icon {
      width: 40px;
      height: 40px;
      background: #22B07D;
      opacity: 0.2;
      margin: 20px 20px 20px 30px;
    }

    h4 {
      margin: 0 20px 20px 30px;
      font-family: Poppins;
      font-weight: bold;
      line-height: 24px;

      /* identical to box height */

      color: #FFFFFF;
    }

    li {
      list-style: disc;
      margin-left: 10px;

      color: #7D7C84;
    }
  }
}

.form-field {
  font-family: Popins, sans-serif;
  width: 288px;
  height: 52px;
  background: #101010;
  border-radius: 4px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
  padding-bottom: 5px;

  label {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 5px;
    color: #7D7C84;

  }

  input {
    background-color: #101010;
    color: white;
    border: none;
  }
}

.text-area {
  padding-left: 20px;
  width: 288px;
  height: 112px;
  margin: 0 auto;
  background: #101010;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.start {
  width: 288px;
  height: 44px;
  background-color: #DB4747;
  border: none;
  color: #fff;
}

footer {
  .resume {
    color: #DB4747;
    font-family: Poppins;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

  }
}

//Queries

@media (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    height: 6*330px;
    .projects-container,
    .no-section {
      .projects-section {
        width: 100%;
      }
      .no-section,
      .project,
      .project-preview {
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media (min-width: 992px) {
  .num {
    font-size: 80px;
    line-height: 150px;
  }

  h2 {
    font-size: 85px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }

  nav {
    width: 100%;
    z-index: 1;

    .navbar-nav {
      transform: rotate(90deg);
      position: fixed;
      height: 1rem;
      width: 0;
      right: 40px;
      top: 250px;

      li {
        margin: 10px;
      }
    }

  }

  #header {
    max-width: 664px;
    height: 549px;
    margin: 20px auto;
    position: relative;
    padding: 100px 0 0 100px;

    .num {
      position: absolute;
      top: 0;
      left: 0;
    }

    .elipse {
      position: absolute;
      width: 94px;
      height: 94px;
      left: 550px;
      top: 96px;

    }

    .header-text {
      position: relative;

      h1 {
        width: 300px;
        font-size: 85px;
        line-height: 100%;
      }

      .fa-angellist {
        position: absolute;
        bottom: 145px;
        right: 20px;
      }

      ul {
        width: 100%;
      }
    }
  }

  .portfolio {
    height: 2*500px;
    h4 {
      padding-left: 20px;
      padding-top: 10px;
      margin-bottom: 30px;
    }

    .num {
      position: absolute;
      top: 0;
      left: 0;

    }

    .portfolio-text {
      padding-top: 85px;
      margin-left: 105px;
    }

    .projects-container {
      width: 100%;
      height: 400px;
      display: flex;
      .project-preview,
      .project,
      .projects-section,
      .no-section {
        height: 100%;
      }
      .projects-section {
        width: 33%;
        display: flex;
        flex-direction: column;

        .project {
          height: 50%;
        }
      }

      .no-section {
        width: 66%;
      }
      
    }
  }

  .about-me {
    padding: 100px;
    display: flex;
    flex-direction: row-reverse;

    .about-box {
      margin: 5px;
      width: 45%;
      height: 100%;
    }

    .about-me-content,
    .boxes {
      width: 50%;
    }
  }

  .get-started {
    position: relative;
    padding-left: 120px;
    padding-top: 90px;

    .num {
      position: absolute;
      top: 0;
      left: 0;
    }

    .get-started-content {
      max-width: 700px;
    }

    .elipse {

      position: absolute;
      width: 94px;
      height: 94px;
      left: 800px;
      top: 145px;
      background: #DB4747;
      mix-blend-mode: lighten;
    }

    .form-field,
    .text-area,
    .start {
      width: 100%;
    }
  }
}

@media (min-width:1200px) {
  .num {
    font-size: 100px;
    line-height: 150px;
  }

  h2 {
    font-size: 110px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

 

  #header {
    .header-text {
      position: relative;

      h1 {
        font-size: 110px;
      }

      .fa-angellist {
        position: absolute;
        bottom: 90px;
        right: 20px;
      }

      ul {
        width: 50%;
      }
    }
  }

  .portfolio {
    height: 2*600px;
    .projects-container {
      height: 600px;
    }
  }

  .about-me {
    padding: 100px;
    display: flex;
    flex-direction: row-reverse;

    .about-box {
      margin: 5px;
      width: 45%;
      height: 100%;
    }

    .about-me-content,
    .boxes {
      width: 50%;
    }
  }

  .get-started {
    position: relative;
    padding-left: 120px;
    padding-top: 90px;

    .num {
      position: absolute;
      top: 0;
      left: 0;
    }

    .get-started-content {
      max-width: 700px;
    }

    .elipse {

      position: absolute;
      width: 94px;
      height: 94px;
      left: 800px;
      top: 145px;
      background: #DB4747;
      mix-blend-mode: lighten;
    }

    .form-field,
    .text-area,
    .start {
      width: 100%;
    }
  }
}